[submodule "tensor/ndarray"]
	path = tensor/ndarray
	url = git@github.com:lijiansong/ndarray.git
[submodule "compiler/umm_malloc"]
	path = compiler/umm_malloc
	url = https://github.com/dimonomid/umm_malloc.git
[submodule "tensor/xtensor"]
	path = tensor/xtensor
	url = https://github.com/QuantStack/xtensor.git
